# ---------------------------
# 	NetCDF files & R
# ---------------------------
.Rhistory
*.nc

# ---------------------------
# 	IT-SNOW datas
# ---------------------------
SC_studies/IT-Snow/y20*
SC_studies/IT-Snow/*nc

# ---------------------------
#       Po Basin datas
# ---------------------------
SC_studies/Po-Basin/Dataset

# ---------------------------
#        MODIS datas
# ---------------------------
SC_studies/MODIS/Dataset
SC_studies/MODIS/NDSI_maps
SC_studies/MODIS/Datas/mean_maps
SC_studies/MODIS/Datas/sd_maps

# ---------------------------
#       Alpine3D datas
# ---------------------------
SC_studies/Alpine3D/Historical/Dataset
SC_studies/Alpine3D/Recent/Dataset

# ---------------------------
# 	Preliminary model
#----------------------------
SC_studies/Preliminary_model/Dataset

# ---------------------------
#       HS series datas
# ---------------------------
HS_series/Original/STATION_check/Manual/Images
HS_series/Original/Dataset
HS_series/Original/DEM/

HS_series/Matiu/Dataset
HS_series/Matiu/DEM/

HS_series/Correct/DEM

# ---------------------------
#        Model series
# ---------------------------
HS_series/HS_correction/Dataset
HS_series/HS_correction/QC_series/Images
HS_series/HS_correction/QC_series/Pdf
HS_series/HS_correction/QC_series/Series_to_send
HS_series/Correct/QC_series/Pdf/

# ---------------------------
# 	DEM datas
# ---------------------------
SC_studies/IT-Snow/DEM

# ---------------------------
# File .nc in ColDePorte
# ---------------------------
Preliminary_studies/ColDePorte/*.nc

# ---------------------------
# 	Temporary files
# ---------------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# ---------------------------
#  	System files
# ---------------------------
.DS_Store
