# ---------------------------
# 	NetCDF files
# ---------------------------
*.nc

# ---------------------------
# 	IT-SNOW datas
# ---------------------------
SnowCover_studies/IT-Snow/y20*
SnowCover_studies/IT-Snow/*nc

# ---------------------------
# 	DEM datas
# ---------------------------
SnowCover_studies/IT-Snow/DEM

# ---------------------------
# File .nc in ColDePorte
# ---------------------------
Preliminary_studies/ColDePorte/*.nc

# ---------------------------
# 	Temporary files
# ---------------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# ---------------------------
#  	System files
# ---------------------------
.DS_Store
